{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load partials %}
{% load static %}
{% load humanize %}
{% block content %}


{{ total_nitrogen|floatformat:2|json_script:"total-nitrogen" }}
{{ nitrogen|json_script:"nitrogen" }}
{{ nitrogen_pct|json_script:"nitrogen-pct" }}

{{ total_phosphorus|floatformat:2|json_script:"total-phosphorus" }}
{{ phosphorus|json_script:"phosphorus" }}
{{ phosphorus_pct|json_script:"phosphorus-pct" }}

{{ total_sediments|floatformat:2|json_script:"total-sediments" }}
{{ sediments|json_script:"sediments" }}
{{ sediments_pct|json_script:"sediments-pct" }}

{{ total_oxygen|floatformat:2|json_script:"total-oxygen" }}
{{ oxygen|json_script:"oxygen" }}
{{ oxygen_pct|json_script:"oxygen-pct" }}


{{ selected_pollutant|json_script:"selected-pollutant" }}
{{ total_budget|json_script:"total-budget" }}


<div class="container mx-auto p-4" x-data="acresCalculator()">

    <div class="flex justify-center py-6 mb-6"> 
        <ul class="steps"> 
          <li class="step step-primary">
            <a href="{% url 'step_2' scenario_id %}">
                Loads</a></li>
          <li class="step">
            <a href="{% url 'step_3' scenario_id %}">
                BMP Selection</a></li>
        </ul>
    </div>
    

    <div class="stats shadow w-full mb-4"></div>
        <div class="stat">
            <div class="stat-title">Wastewater Dataset</div>
            <div class="stat-value text-lg">{{ scenario_info }}</div>
        </div>
        <div class="stat">
            <div class="stat-title">Selected Counties</div>
            <div class="stat-value text-lg">{{ total-budget }}</div>
        </div>
    </div>
    <h1 class="text-3xl font-bold">Pollution Load and Implementation Cost Specification</h1>

        <div class="dropdown dropdown-hover">
          <label tabindex="0" class="btn m-1">Pollution Reduction Target:</label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Edge of Stream</a></li>
            <li><a>Edge of River</a></li>
            <li><a>Edge of Tide</a></li>
          </ul>
        </div>
        <table class="table w-full text-lg shadow-md" id="bmp_summary_table">
          <thead>
            <tr class="h-12 text-lg">
              <th></th>
              <th>Pollutant</th>
              <th>Initial Load (lbs/year)</th>
              <th>Removal Percentage (%)</th>
              <th>Expected load (lbs/year)</th>
            </tr>
          </thead>
          <tbody>
              <tr class="h-12" x-data="{ enabled: false}">
              <td>
                <input type="checkbox" 
                    value="nitrogen"
                    id="checkbox_nitrogen_id"
                    name="checkbox_nitrogen" 
                    x-bind:checked="selected_pollutant.includes('nitrogen')"
                    x-on:change="updateSelectedPollutants" 
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="change"
                    hx-vals='js:{"new_value": acresCalculator().getSelectedPollutantsJSON() , "scenario_id": {{ scenario_id }}, "field_name": "selected_pollutant"}'
                    >
              </td>
              <td class="text-left">Nitrogen</td>
              <td class="text-right">{{ total_nitrogen |floatformat:0|intcomma }}</td>

              <td>
                  <div class="flex items-center">
                      <input class="input input-bordered"
                        :disabled="!selected_pollutant.includes('nitrogen')"
                        type="number" 
                        x-model="nitrogen_pct" 
                        x-on:input="updateNitrogen"
                        hx-post="{% url 'update_scenario_loads' %}"
                        hx-trigger="input delay:3s"
                        hx-vals='javascript:{"new_value": document.getElementById("nitrogen_pct_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "nitrogen_pct"}'
                        id="nitrogen_pct_id"
                        name="nitrogen_pct_name"
                        >
                  </div>
              </td>
              <td>
                  <input class="input input-bordered" 
                    :disabled="!selected_pollutant.includes('nitrogen')"
                    x-model="nitrogen" 
                    x-on:input="updateNitrogenPct"
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="input delay:3s"
                    hx-vals='javascript:{"new_value": document.getElementById("nitrogen_pct_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "nitrogen_pct"}'
                    id="nitrogen_id"
                    name="nitrogen_name"
                    >
              </td>
            </tr>
            <tr class="h-12" x-data="{ enabled: false }">
              <td>
                <input type="checkbox" 
                    value="phosphorus" 
                    id="checkbox_phosphorus_id"
                    name="checkbox_phosphorus" 
                    x-bind:checked="selected_pollutant.includes('phosphorus')"
                    x-on:change="updateSelectedPollutants" 
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="change"
                    hx-vals='js:{"new_value": acresCalculator().getSelectedPollutantsJSON() , "scenario_id": {{ scenario_id }}, "field_name": "selected_pollutant"}'
                    >
              </td>
              <td class="text-left">Phosphorus</td>
              <td class="text-right">{{ total_phosphorus |floatformat:0|intcomma }}</td>
              <td>
            
                <input class="input input-bordered" 
                    :disabled="!selected_pollutant.includes('phosphorus')"
                    type="number" 
                    x-model="phosphorus_pct" 
                    x-on:input="updatePhosphorus"
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="input delay:3s"
                    hx-vals='javascript:{"new_value": document.getElementById("phosphorus_pct_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "phosphorus_pct"}'
                    id="phosphorus_pct_id"
                    name="phosphorus_pct_name"
                    >
              </td>
              <td>
                  <input class="input input-bordered" 
                    :disabled="!selected_pollutant.includes('phosphorus')"
                    type="number" 
                    x-model="phosphorus" 
                    x-on:input="updatePhosphorusPct"
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="input delay:3s"
                    hx-vals='javascript:{"new_value": document.getElementById("phosphorus_pct_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "phosphorus_pct"}'
                    id="phosphorus_id"
                    name="phosphorus_name"
                    >
              </td>
            </tr>
            <tr class="h-12" x-data="{ enabled: false }">
              <td>
                
                <input type="checkbox" 
                    value="sediments"
                    id="checkbox_sediments_id" 
                    name="checkbox_sediments" 
                    x-bind:checked="selected_pollutant.includes('sediments')"
                    x-on:change="updateSelectedPollutants" 
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="change"
                    hx-vals='js:{"new_value": acresCalculator().getSelectedPollutantsJSON() , "scenario_id": {{ scenario_id }}, "field_name": "selected_pollutant"}'
                    >
              </td>
              <td class="text-left">Sediments</td>
              <td class="text-right">{{ total_sediments |floatformat:0|intcomma }}</td>
              <td>
            
                <input class="input input-bordered" 
                    :disabled="!selected_pollutant.includes('sediments')"
                    type="number" 
                    x-model="sediments_pct" 
                    x-on:input="updateSediments"
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="input delay:3s"
                    hx-vals='javascript:{"new_value": document.getElementById("sediments_pct_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "sediments_pct"}'
                    id="sediments_pct_id"
                    name="sediments_pct_name"
                    >
                <span>%</span>
              </td>
              <td>
                  <input class="input input-bordered"
                    :disabled="!selected_pollutant.includes('sediments')"
                    type="number" 
                    x-model="sediments" 
                    x-on:input="updateSedimentsPct"
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="input delay:3s"
                    hx-vals='javascript:{"new_value": document.getElementById("sediments_pct_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "sediments_pct"}'
                    id="sediments_id"
                    name="sediments_name"
                    >
                <span>lbs</span>
              </td>
            </tr>
            <tr class="h-12" x-data="{ enabled: false }">
              <td>
                <input type="checkbox" 
                    value="oxygen" 
                    id="checkbox_oxygen_id" 
                    name="checkbox_oxygen" 
                    x-bind:checked="selected_pollutant.includes('oxygen')"
                    x-on:change="updateSelectedPollutants" 
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="change" 
                    hx-vals='js:{"new_value": acresCalculator().getSelectedPollutantsJSON() , "scenario_id": {{ scenario_id }}, "field_name": "selected_pollutant"}'
                    >
              </td>
              <td class="text-left">Oxygen</td>
              <td class="text-right">{{ total_oxygen|floatformat:2|intcomma }}</td>
              <td>
                <input class="input input-bordered" 
                    :disabled="!selected_pollutant.includes('oxygen')"

                    type="number" 
                    x-model="oxygen_pct" 
                    x-on:input="updateOxygen"
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="input delay:3s"
                    hx-vals='javascript:{"new_value": document.getElementById("oxygen_pct_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "oxygen_pct"}'
                    id="oxygen_pct_id"
                    name="oxygen_pct_name"
                    >
                <span>%</span>
              </td>
              <td>
                  <input class="input input-bordered"
                    :disabled="!selected_pollutant.includes('oxygen')"
                    type="number" 
                    x-model="oxygen" 
                    x-on:input="updateOxygenPct"
                    hx-post="{% url 'update_scenario_loads' %}"
                    hx-trigger="input delay:3s"
                    hx-vals='javascript:{"new_value": document.getElementById("oxygen_pct_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "oxygen_pct"}'
                    id="oxygen_id"
                    name="oxygen_name"
                    >
                <span>lbs</span>
              </td>
            </tr>
          </tbody>
        </table>


<div x-data="{ showInput: {{ total_budget|default:'0' }} > 0, total_budget: {{ total_budget|default:'0' }} }" class="flex items-center mb-3 text-lg">
    <label class="flex-1">Do you have a limit on the allocated budget for BMP implementation?:</label>
    <div class="flex items-center flex-1">
        <!-- Checkbox to toggle input visibility and set total_budget to 0 if unchecked -->
        <input type="checkbox" x-model="showInput" class="checkbox checkbox-primary mr-2" 
               :checked="showInput" @change="updateTotalBudget(showInput, $refs.totalBudgetInput)" />

        <!-- Input field, shown only when showInput is true -->
        <div x-show="showInput" class="flex-1">
            <input x-ref="totalBudgetInput" class="input input-bordered bg-white shadow-md" 
                id="total_budget_id" 
                type="number" 
                x-model="total_budget"
                hx-post="{% url 'update_scenario_loads' %}"
                hx-trigger="input delay:1s"
                hx-vals='javascript:{"new_value": document.getElementById("total_budget_id").value.toString(), "scenario_id": {{ scenario_id }}, "field_name": "total_budget"}'
                />
        </div>
    </div>
</div>
    <div id="content_step" class="space-y-6 py-8">
        <div class="flex justify-between py-6" >
                <a href="{% url 'step_1' scenario_id %}" class="btn btn-primary">Previous</a>
                <a href="{% url 'step_3' scenario_id %}" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>

<script>
    function acresCalculator() {
        return {
            total_nitrogen: null,
            nitrogen: null,
            nitrogen_pct: null,
            total_phosphorus: null,
            phosphorus: null,
            phosphorus_pct: null,
            total_sediments: null,
            sediments: null,
            sediments_pct: null,
            total_oxygen: null,
            oxygen: null,
            oxygen_pct: null,
            selected_pollutant: [],
            total_budget: null,
            init() {
                this.total_nitrogen = JSON.parse(document.getElementById('total-nitrogen').textContent);
                this.total_nitrogen = parseFloat(this.total_nitrogen).toFixed(0);
                this.nitrogen_pct = JSON.parse(document.getElementById('nitrogen-pct').textContent);
                this.nitrogen_pct = parseFloat(this.nitrogen_pct).toFixed(0);
                this.nitrogen = JSON.parse(document.getElementById('nitrogen').textContent);
                this.nitrogen = parseFloat(this.nitrogen).toFixed(0);

                this.total_phosphorus = JSON.parse(document.getElementById('total-phosphorus').textContent);
                this.total_phosphorus = parseFloat(this.total_phosphorus).toFixed(0);
                this.phosphorus_pct = JSON.parse(document.getElementById('phosphorus-pct').textContent);
                this.phosphorus_pct = parseFloat(this.phosphorus_pct).toFixed(0);
                this.phosphorus = JSON.parse(document.getElementById('phosphorus').textContent);
                this.phosphorus = parseFloat(this.phosphorus).toFixed(0);



                this.total_sediments = JSON.parse(document.getElementById('total-sediments').textContent);
                this.total_sediments = parseFloat(this.total_sediments).toFixed(0);
                this.sediments_pct = JSON.parse(document.getElementById('sediments-pct').textContent);
                this.sediments_pct = parseFloat(this.sediments_pct).toFixed(0);
                this.sediments = JSON.parse(document.getElementById('sediments').textContent);
                this.sediments = parseFloat(this.sediments).toFixed(0);



                this.total_oxygen = JSON.parse(document.getElementById('total-oxygen').textContent);
                this.total_oxygen = parseFloat(this.total_oxygen).toFixed(0);
                this.oxygen_pct = JSON.parse(document.getElementById('oxygen-pct').textContent);
                this.oxygen_pct = parseFloat(this.oxygen_pct).toFixed(0);
                this.oxygen = JSON.parse(document.getElementById('oxygen').textContent);
                this.oxygen = parseFloat(this.oxygen).toFixed(0);
                this.selected_pollutant = JSON.parse(document.getElementById('selected-pollutant').textContent);

                this.total_budget = JSON.parse(document.getElementById('total-budget').textContent);
                this.total_budget = parseFloat(this.total_budget).toFixed(0);
            },
            updateNitrogen() {
                this.nitrogen = (((100-this.nitrogen_pct)* this.total_nitrogen) / 100).toFixed(0);
            },
            updateNitrogenPct() {
                this.nitrogen_pct = (100-(this.nitrogen / this.total_nitrogen) * 100).toFixed(0);
            },
            updatePhosphorus() {
                this.phosphorus = (((100-this.phosphorus_pct)* this.total_phosphorus) / 100).toFixed(0);
            },
            updatePhosphorusPct() {
                this.phosphorus_pct = (100-(this.phosphorus / this.total_phosphorus) * 100).toFixed(0);
            },
            updateSediments() {
                this.sediments = (((100-this.sediments_pct)* this.total_sediments) / 100).toFixed(0);
            },
            updateSedimentsPct() {
                this.sediments_pct = (100-(this.sediments / this.total_sediments) * 100).toFixed(0);
            },
            updateOxygen() {
                this.oxygen = (((100-this.oxygen_pct)* this.total_oxygen) / 100).toFixed(0);
            },
            updateOxygenPct() {
                this.oxygen_pct = (100-(this.oxygen / this.total_oxygen) * 100).toFixed(0);
            },
            updateSelectedPollutants() {
                this.selected_pollutant = [];
                if (document.getElementById('checkbox_nitrogen_id').checked) {
                    this.selected_pollutant.push('nitrogen');
                }
                if (document.getElementById('checkbox_phosphorus_id').checked) {
                    this.selected_pollutant.push('phosphorus');
                }
                if (document.getElementById('checkbox_sediments_id').checked) {
                    this.selected_pollutant.push('sediments');
                }
                if (document.getElementById('checkbox_oxygen_id').checked) {
                    this.selected_pollutant.push('oxygen');
                }
            },
            getSelectedPollutantsJSON() {
                this.selected_pollutant = [];
                if (document.getElementById('checkbox_nitrogen_id').checked) {
                    this.selected_pollutant.push('nitrogen');
                }
                if (document.getElementById('checkbox_phosphorus_id').checked) {
                    this.selected_pollutant.push('phosphorus');
                }
                if (document.getElementById('checkbox_sediments_id').checked) {
                    this.selected_pollutant.push('sediments');
                }
                if (document.getElementById('checkbox_oxygen_id').checked) {
                    this.selected_pollutant.push('oxygen');
                }
                return JSON.stringify(this.selected_pollutant);
            }
           
        };
    }
    function updateTotalBudget(showInput, totalBudgetInput) {
        if (!showInput) {
            totalBudgetInput.value = 0;
            totalBudgetInput.dispatchEvent(new Event('input'));
        }
    }
</script>
{% endblock %}

