{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% load i18n allauth account %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
    </p>
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Reset My Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

<div class="flex min-h-screen items-center justify-center bg-base-200">
    <div class="m-4 min-h-[50vh] w-full max-w-sm lg:max-w-4xl">
        <!-- logo ... -->

        <div class="grid bg-base-100 lg:aspect-[2/1] lg:grid-cols-2">
            <!-- image ... -->
				<figure class="pointer-events-none bg-base-300 object-cover max-lg:hidden">
					<img src="https://picsum.photos/id/283/1200/1200" alt="Login" class="h-full" />
				</figure>
				<!-- /image -->
            <!-- Password Recovery Form -->
            <form class="flex flex-col justify-center gap-4 px-10 py-10 lg:px-16"
                  method="post"
                  action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                <!-- Alert for Successful Email Sent (You might want to display this conditionally) -->
                <div class="alert alert-success text-xs" style="display: none;">
                    <!-- Success icon and message -->
                    <span>Recovery email sent successfully</span>
                </div>
                
                <!-- Email Field -->
                <div class="form-control">
                    <label class="label" for="id_email"><span class="label-text">{% trans "Email" %}</span></label>
                    <input type="email"
                           id="id_email"
                           name="email"
                           placeholder="{% trans 'email' %}"
                           class="input input-bordered"
                           required />
                </div>

                <!-- Submit Button -->
                <button class="btn btn-neutral" type="submit">{% trans "Recover" %}</button>
                
                <!-- Login Link -->
                <div class="label justify-end">
                    <a class="link-hover link label-text-alt" href="{% url 'account_login' %}">{% trans "Login" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}


