[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-extensions = "*"
django-widget-tweaks = "*"
django-template-partials = "*"
django-htmx = "*"
openai = "*"
pygame = "*"
ffmpeg-python = "*"
beautifulsoup4 = "*"
lxml = "*"
psycopg2-binary = "*"
python-dotenv = "*"
openpyxl = "*"
django-tables2 = "*"
django-templated-mail = "*"
django-redis = "*"
dj-database-url = "*"
django-crispy-forms = "*"
crispy-daisyui = "*"
django-filter = "*"
django-formtools = "*"
django-select2 = "*"
celery = "*"
crispy-bulma = "*"
crispy-tailwind = "*"
crispy-bootstrap5 = "*"
django-bootstrap-datepicker-plus = "*"
uuid = "*"
matplotlib = "*"
scipy = "*"
numpy = "*"
bokeh = "*"
plotly = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
umap-learn = "*"
langchain-community = "*"
langchain-experimental = "*"
langchain-openai = "*"
pandasai = "*"
tabulate = "*"
django-sslserver = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
djoser = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
boto3 = "*"
django-storages = "*"
gunicorn = "*"
geopandas = "*"
matplotlib-scalebar = "*"
whitenoise = "*"
autopep8 = "*"
exceptiongroup = "*"
flower = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-ckeditor-5 = "*"
weasyprint = "*"

[dev-packages]

[requires]
python_version = "3"
