{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="px-5 my-5 text-center">
            <h1>Enviar correos masivamente</h1>
            <p></p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Título</th>
                <th>De</th>
                <th>Plantilla</th>
                <th>Enviado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
                <tr id="emailmassive-{{ object.pk }}" class="movie-row">
                    <td>{{ object.title }}</td>
                    <td>{{ object.from_user }}</td>
                    <td>{{ object.email_template}}</td>
                    <td>{{ object.send}}</td>
                    <td>
                        {% if object.send == False %}
                            <a href=" {% url 'update_email_massive' id=object.id %}" class="btn btn-primary">Editar</a>
                            <a href=" {% url 'dry_run_email_massive' id=object.id %}" class="btn btn-secondary">Resultado</a>
                        {% else %}
                            <a href=" {% url 'disabled_update_email_massive' id=object.id %}" class="btn btn-primary">Ver</a>
                        {% endif %}
                        <a href=" {% url 'delete_email_massive' id=object.id %}" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <a href="{{ create_url }}" class="btn btn-primary">
            {{ create_title }}
        </a>
        <div class="px-5 my-5 text-right">
            <a href="{{request.META.HTTP_REFERER|escape}}">Regresar</a>
        </div>

    </div>

    <!-- Placeholder for the modal -->
    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>

    <!-- Empty toast to show the message -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

</div>
{% endblock %}
